<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>secret page</title>
  </head>
  <body>
    <h1>secret data!!!!!!!!!!!</h1>

    <a href="/logout">Logout</a>
  </body>
</html>